/* links del main*/

@import "variablesIt";

a{
    :link{
        color: $coloresLinks;
        text-decoration: none;
    }

    :visited{
        color: $coloresLinks;
        text-decoration: none;
    }

    :active{
        color: $coloresLinks;
        text-decoration: none;
    }
}

/*generales del main*/

main{
    padding: 0%;

    img{
        padding: 50px;
    }

}


tbody img  {
    padding: 0%;
}

.div-1{
    color: $textosDiv;
    padding: 0%;
    text-align: center;
    margin-top: 30px;
}
.div-2{
    margin-top: 50px;
    padding: 0%;
}

.desarrollos {

    justify-content: center;
    text-align: center;

}

.desarrollo_secciones{
    margin-top: 50px;
    padding: 0%;
    justify-content: center;
}

.titulares p{
    background-color: $fondosCard;
    border-radius: 10px;
}

ul{ 
    text-align: left;
}

.mapa {
    text-align: center;
  }  



