/* links del main*/

@import "variablesIt";

a{
    :link{
        color: $coloresLinks;
        text-decoration: none;
    }

    :visited{
        color: $coloresLinks;
        text-decoration: none;
    }

    :active{
        color: $coloresLinks;
        text-decoration: none;
    }
}

/*generales del main*/

main{
    padding: 0%;

    img{
        padding: 50px;
    }

}

tbody img  {
    padding: 0%;
}

.div-1{
    color: $textosDiv;
    padding: 0%;
    text-align: center;
    margin-top: 30px;
}
.div-2{
    margin-top: 50px;
    padding: 0%;
}

.desarrollos {
    justify-content: center;
    padding: 0%;    
    margin-top: 10px;
}

.desarrollo_secciones{
    margin-top: 10px;
    padding: 0%;
    justify-content: center;

    img { 
        border-radius: 8px;
        max-width: 140px;
        height: auto;
        margin-left: 10px;
        margin-bottom: 5px;

    }
    img:hover {
        filter: drop-shadow(2px 2px 2px rgb(8, 8, 8));
        max-width: 160px;
      }
}

   
.titulares {
    border-radius: 6px;  
    letter-spacing: 3px;
    text-transform: uppercase;
}

.titulares p{
    border-radius: 10px;
    text-transform:none;
    letter-spacing: 0px;

}

.cuerpo{
    padding: 0%;
    justify-content: center;
    
}

main img { 
    padding: 0%;
}

ul{ 
    text-align: left;
    font-size: 15px;  
    letter-spacing: 2px;
}

li {
    margin-left: 30px;
}

.mapa {
    text-align: center;
  }  

.formulario {
    display: flex;
    justify-content: center;
}